.jumbotron {
  text-align: center;
  background-color: rgb(154, 154, 180);
}

body {
  background-image: url("Images/friends.jpg");
}

.links {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  text-align: center;
}